/* Global reset with Bootstrap */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-gradient {
  background: linear-gradient(to right, #d3d3d3, #00ffff); /* Custom gradient */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(7, 80px);
  gap: 10px; /* Consistent with Bootstrap's gap utility */
}

.grid-item {
  background-color: #a9a9a9; /* Dark gray color for cells */
  border-radius: 50%; /* Circular shape */
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.9),
  inset -5px -5px 15px rgba(255, 255, 255, 0.2); /* Shading */
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden; /* Hides cells in the grid */
}

.header-div {
  font-family: "Helvetica Neue", sans-serif;
}

.container {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.button-primary {
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}
